# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
runs
run-data

repo

# Docusaurus
website/node_modules
website/.docusaurus
website/docs
website/versioned_docs
website/versioned_sidebars
